# CONFIG PART = xc6slx45-3-csg324 ;
CONFIG VCCAUX = 3.3;

NET "RESET" LOC = "T15";
NET "CLOCK_100M" LOC = "L15" | IOSTANDARD = LVCMOS33 | PERIOD = 100 MHz;

PIN "px_clk_bufg.O" CLOCK_DEDICATED_ROUTE = FALSE;

# LED
NET "LED<0>" LOC = "U18" | IOSTANDARD = LVCMOS33;
NET "LED<1>" LOC = "M14" | IOSTANDARD = LVCMOS33;
NET "LED<2>" LOC = "N14" | IOSTANDARD = LVCMOS33;
NET "LED<3>" LOC = "L14" | IOSTANDARD = LVCMOS33;

# HDMI
NET "RX0_TMDS(3)"  LOC = "H17" | IOSTANDARD = TMDS_33 ; # CLK
NET "RX0_TMDS(2)"  LOC = "J16" | IOSTANDARD = TMDS_33 ; # BLUE
NET "RX0_TMDS(1)"  LOC = "L17" | IOSTANDARD = TMDS_33 ; # GREEN
NET "RX0_TMDS(0)"  LOC = "K17" | IOSTANDARD = TMDS_33 ; # RED
NET "RX0_TMDSB(3)" LOC = "H18" | IOSTANDARD = TMDS_33 ;
NET "RX0_TMDSB(2)" LOC = "J18" | IOSTANDARD = TMDS_33 ;
NET "RX0_TMDSB(1)" LOC = "L18" | IOSTANDARD = TMDS_33 ;
NET "RX0_TMDSB(0)" LOC = "K18" | IOSTANDARD = TMDS_33 ;

NET "TX0_TMDS(3)"  LOC = "B6" | IOSTANDARD = TMDS_33 ; # CLK
NET "TX0_TMDS(2)"  LOC = "B8" | IOSTANDARD = TMDS_33 ; # BLUE
NET "TX0_TMDS(1)"  LOC = "C7" | IOSTANDARD = TMDS_33 ; # GREEN
NET "TX0_TMDS(0)"  LOC = "D8" | IOSTANDARD = TMDS_33 ; # RED
NET "TX0_TMDSB(3)" LOC = "A6" | IOSTANDARD = TMDS_33 ;
NET "TX0_TMDSB(2)" LOC = "A8" | IOSTANDARD = TMDS_33 ;
NET "TX0_TMDSB(1)" LOC = "A7" | IOSTANDARD = TMDS_33 ;
NET "TX0_TMDSB(0)" LOC = "C8" | IOSTANDARD = TMDS_33 ;
